<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic All HMS Kits
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ionic All HMS Kits</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- HEADER START -->
  <div class="headerSection">
    <div class="headerTitleWrapper">
      <div class="headerTitle">Ionic HMS Kits</div>
    </div>
    <div class="headerLogoWrapper">
      <ion-img src="./assets/logo.png" class="headerLogo"></ion-img>
    </div>
  </div>
  <!-- HEADER END -->

  <div class="ion-padding">
    <ion-button
      expand="full"
      color="primary"
      class="ion-margin-bottom"
      [routerLink]="['/hms-gms-check']"
    >
      HMS / GMS Check
    </ion-button>
    <ion-button
      expand="full"
      color="primary"
      class="ion-margin-bottom"
      [routerLink]="['/location']"
    >
      HMS Location
    </ion-button>
    <ion-button
      expand="full"
      color="primary"
      class="ion-margin-bottom"
      [routerLink]="['/maps']"
    >
      Huawei Map
    </ion-button>
    <ion-button
      expand="full"
      color="primary"
      class="ion-margin-bottom"
      [routerLink]="['/push']"
    >
      HMS Push
    </ion-button>
    <ion-button
      expand="full"
      color="primary"
      class="ion-margin-bottom"
      [routerLink]="['/analytics']"
    >
      Huawei Analytics
    </ion-button>
    <ion-button
      expand="full"
      color="primary"
      class="ion-margin-bottom"
      [routerLink]="['/acount']"
    >
      Huawei Account
    </ion-button>
    <ion-button
      expand="full"
      color="primary"
      class="ion-margin-bottom"
      [routerLink]="['/iap']"
    >
      HMS In App Purchase
    </ion-button>
    <ion-button
      expand="full"
      color="primary"
      class="ion-margin-bottom"
      [routerLink]="['/scan']"
    >
      HMS Scan Kit
    </ion-button>
  </div>
</ion-content>
